.addOrRemove {
  margin-bottom: 106px;

  &__title {
    font-family: $font-lato;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #494f66;
    margin-bottom: 36px;

    @include mq(medium) {
      margin-top: 36px;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding-bottom: 1.3rem;
    border-bottom: 1px solid #e4e8f7;
    margin-bottom: 15px;

    * + * {
      margin-left: 0.5rem;
    }
  }

  &__item {
    position: relative;
  }

  &__link {
    font-family: $font-lato;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: #494f66;

    &.activated {
      color: #ef3340;

      &::before {
        content: '';
        width: 100%;
        height: 2px;
        background-color: #ef3340;
        position: absolute;
        left: 0;
        right: 0;

        @media (max-width: 471px) {
          top: 58px;
        }
        @media (min-width: 471px) {
          top: 39px;
        }
        @include mq(medium) {
          top: 3.6rem;
        }
        @media (min-width: 800px) and (max-width: 883px) {
          top: 77px;
        }
      }
    }
  }

  &__content {
    overflow: hidden;
    &--protect {
      display: flex;
      padding: 24px 0;
      position: relative;
      border-bottom: 1px solid #e4e8f7;

      @include mq(medium) {
        padding: 30px 0;
      }

      figure {
        margin-right: 21px;
        height: 26.62px;
        width: 100%;
        flex-basis: 15%;
      }

      input[type='checkbox'].show-mobile-input {
        height: 0;
        width: 0;
        visibility: hidden;

        @include mq(medium) {
          display: none;
        }
      }

      input[type='checkbox'].agregar {
        display: none;
        @include mq(medium) {
          display: block;
          background-color: blue;
        }
      }

      label.show-mobile-label {
        cursor: pointer;
        text-indent: -9999px;
        width: 50px;
        height: 30px;
        background: #e4e8f7;
        display: block;
        border-radius: 30px;
        position: relative;

        @include mq(medium) {
          display: none;
        }
      }

      label.quitar {
        display: none;
        @include mq(medium) {
          display: block;
          text-indent: 0;
          width: fit-content;
          background-color: transparent;
          position: absolute;
          top: 2rem;
          left: 20%;
          font-family: $font-lato;
          font-weight: 700;
          font-size: 12px;
          line-height: 16px;
          letter-spacing: 0.6px;
          text-transform: uppercase;
          color: #6f7dff;

          div {
            display: flex;
            align-items: center;
            margin: 32px 0 36px 0;
          }

          span {
            margin-left: 12px;
          }
        }

        &::after {
          @include mq(medium) {
            content: none;
            width: 0;
            left: 20%;
          }
        }
      }

      label:after {
        content: '';
        position: absolute;
        top: 5px;
        left: 5px;
        width: 20px;
        height: 20px;
        background: #fff;
        border-radius: 20px;
        transition: 0.3s;
      }

      input:checked + label {
        background: #7cc954;
      }

      input:checked + label:after {
        left: calc(100% - 5px);
        transform: translateX(-100%);
      }

      label:active:after {
        width: 20px;
      }

      .arrow-red-top,
      .arrow-red-bottom {
        display: none;
        cursor: pointer;
        background-color: transparent;
        border: none;
        outline: none;
        position: absolute;
        right: 0;
        top: 2rem;
        img {
          width: inherit;
          height: inherit;
        }

        @include mq(medium) {
          display: block;
        }
      }
    }

    &--description {
      flex-basis: 85%;
      h3 {
        font-family: $font-lato;
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 24px;
        letter-spacing: 0.2px;
        color: #494f66;

        @include mq(medium) {
          margin-bottom: 1.3rem;
        }
      }
      p {
        margin-top: 1rem;
        font-family: $font-roboto;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #676f8f;

        @include mq(medium) {
          margin-top: 52px;
        }
      }
      button {
        font-family: $font-lato;
        font-style: normal;
        font-weight: 700;
        font-size: 10px;
        line-height: 16px;
        letter-spacing: 0.8px;
        text-transform: uppercase;
        color: #a3abcc;
        display: flex;
        align-items: center;
        border: none;
        background-color: transparent;
        cursor: pointer;
        padding-left: 0;
        margin-top: 1rem;
        outline: none;

        img {
          margin-left: 11px;
        }
      }
      .show-more {
        color: #6f7dff;
        margin-top: 0.5rem;

        @include mq(medium) {
          display: none;
        }
      }
      .show-minus {
        @include mq(medium) {
          display: none;
        }
      }
    }
  }
}
