.car {
  background-color: $color-white;
  border-radius: 12px;
  padding: 44px 24px 36px;
  position: relative;
  overflow: hidden;

  @include mq(medium) {
    background-color: $color-white;
    border: 3px solid #f0f2fa;
  }

  &__plate {
    font-family: $font-roboto;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #a3abcc;
  }

  &__anio,
  &__model {
    font-family: $font-lato;
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #494f66;
  }

  &__image {
    position: absolute;
    top: 0;
    right: 1rem;

    @include mq(large) {
      right: 2rem;
    }
  }
}
