.sumAssured {
  margin-top: 44px;
  margin-bottom: 36px;

  @include mq(medium) {
    margin-top: 0;
  }

  .container {
    @include mq(x-large) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__minmax {
    h4 {
      font-family: $font-lato;
      font-weight: 400;
      font-size: 1rem;
      line-height: 24px;
      letter-spacing: 0.2px;
      color: #494f66;
    }

    > div {
      margin-top: 4px;
      font-family: $font-lato;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.6px;
      text-transform: uppercase;
      color: #676f8f;

      .pipe {
        margin: 0 12px;
      }
    }
  }

  &__amount {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #c5cbe0;
    border-radius: 4px;

    @include mq(medium) {
      border: 1px solid #c5cbe0;
      border-radius: 8px;
    }

    button {
      margin: 14px 0;
      color: $color-blue;
      border: none;
      outline: none;
      cursor: pointer;
      font-size: 1.4rem;
      background-color: transparent;

      @include mq(x-large) {
        margin-left: 5px;
        margin-right: 5px;
      }
    }
  }
}
