.assured {
  border-top: thin solid #e4e8f7;
  margin-top: 1.21rem;

  @include mq(medium) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3rem;
  }

  &__step {
    @include mq(medium) {
      background-color: $color-gray;
      min-height: 100vh;
    }
  }

  &__coverage {
    .back {
      display: flex;
      align-items: center;
      margin-top: 3.25rem;
      margin-bottom: 1.75rem;

      @media (max-width: 800px) {
        display: none;
      }

      &__image {
        @include icon($color-red);
      }

      &__text {
        font-family: $font-lato;
        font-weight: 400;
        font-size: 0.75rem;
        letter-spacing: 0.6px;
        color: #a3abcc;
      }
    }

    .text {
      &__title {
        margin-bottom: 0.5rem;
      }
      &__description {
        width: 100%;
        font-size: 1rem;
      }
    }

    .wrapperText {
      .text:first-of-type {
        color: #494f66;
        @include mq(medium) {
          display: none;
        }

        .text__description {
          color: #676f8f;
          margin-bottom: 24px;
        }
      }

      .text:last-of-type {
        @media (max-width: 800px) {
          display: none;
        }

        @include mq(medium) {
          display: block;
        }
        .text__title {
          display: flex;
        }
        .text__description {
          margin-bottom: 44px;
        }
      }
    }
  }

  .step.mobile {
    display: flex;
    align-items: center;
    padding: 1.31rem 0;

    @include mq(medium) {
      display: none;
    }

    .step__image {
      width: 1.5rem;
      height: 1.5rem;
      border: 1px solid $color-gray-border;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 0.5rem;
      }
    }

    .step__number {
      font-family: $font-lato;
      font-weight: 700;
      letter-spacing: 0.05rem;
      font-size: 0.65rem;
      color: $color-gray-title;
      text-transform: uppercase;
      margin-left: 0.75rem;
      margin-right: 1rem;
    }
  }

  .step.desktop {
    display: none;
    @include mq(medium) {
      position: relative;
      display: flex;
      flex-direction: column;
      margin-top: 3.25rem;
      width: fit-content;
      margin-left: auto;
      margin-right: auto;
    }

    & > * {
      @include mq(medium) {
        display: flex;
      }
    }

    .step__one,
    .step__two {
      display: flex;
      align-items: center;
      span {
        @include icon(#c5cbe0);
      }

      p {
        font-family: $font-lato;
        font-weight: 400;
        font-size: 1rem;
        color: #a3abcc;
        letter-spacing: 0.2px;
        line-height: 24px;
      }
    }

    .step__two {
      span {
        background-color: $color-blue;
        color: $color-white;
        border: none;
      }
    }

    .step__progress {
      position: relative;
      top: 0;
      left: 0.7rem;
    }
  }

  .wrapper {
    background-color: #f7f8fc;
    padding: 40px 0 56px 0;

    @include mq(medium) {
      background-color: $color-white;
      padding-top: 0;
    }
  }
}
