.home {
  @include mq(medium) {
    display: grid;
    grid-template-columns: 33.5rem 1fr;
  }

  @include mq(medium) {
    grid-gap: 2rem;
  }

  @include mq(large) {
    grid-gap: 7rem;
  }
  @include mq(x-large) {
    grid-gap: 13.8rem;
  }

  &__hero {
    display: none;
    @include mq(medium) {
      grid-column: 1 / 2;
      display: block;
      position: fixed;
      top: 0;
      bottom: 0;
      background-color: $color-gray-bg;
    }
  }

  .wrapper {
    background-color: $color-gray;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    @include mq(medium) {
      // grid-column: 1 / 2;
      display: none;
    }
  }

  &__information {
    margin-top: 6rem;
    height: calc(19.25rem - 5.5rem);

    span {
      display: block;
      margin-bottom: 0.5rem;
      font-size: 0.65rem;
      color: $color-gray-title;
      font-weight: bold;
      font-family: $font-lato;
    }
  }

  &__figure {
    position: absolute;
    right: 0;
    top: 6rem;
  }
}
