.thanks {
  border-top: thin solid #e4e8f7;
  margin-top: 1.21rem;

  @include mq(medium) {
    display: grid;
    grid-template-columns: 30% 70%;
  }

  &__image {
    position: relative;

    img {
      width: 100vw;

      @include mq(medium) {
        width: auto;
        position: absolute;
        top: 50%;
        left: 70%;
        transform: translate(-50%, -50%);
      }
    }

    @include mq(medium) {
      background-color: #f7f8fc;
      min-height: calc(100vh - 5rem);
    }
  }

  &__content {
    @include mq(medium) {
      margin-left: 8.43rem;
      width: 30rem;
    }

    h2,
    h5 {
      font-family: $font-lato;
      font-style: normal;
      font-weight: 400;
      font-size: 1.75rem;
      line-height: 2.25rem;
      letter-spacing: 0.0375rem;
      color: $color-red;
    }

    h2 {
      margin-top: 2.81rem;

      @include mq(medium) {
        margin-top: 10rem;
      }
    }

    h5 {
      color: #222222;
    }

    p {
      font-family: $font-roboto;
      font-weight: 300;
      font-size: 1rem;
      line-height: 1.75rem;
      color: #676f8f;
      margin-top: 1.5rem;
      margin-bottom: 2.5rem;

      @include mq(large) {
        width: 30rem;
      }
    }

    button {
      @include button(100%);
      margin-top: 0;
    }
  }

  .email {
    font-weight: 700;
    color: $color-gray-description;
  }
}
